@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'mixins';
@import 'utils/title';
@import 'utils/avatar';
@import 'components/nav';
@import 'components/contacts';
@import 'components/search-panel';
@import 'components/chats';
@import 'components/profile';

:root {
  border: none;
}

.chat {
  height: 100vh;
  padding: 0;

  &-row {
    margin: 0;
    height: 100%;
  }

  &-aside {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    &-nav {
      order: 2;
    }

    &-main {
      height: 100%;
      @include hide-scrollbar();
      order: 1;
    }
  }

  &-main {
    display: none;
  }

  @include media-breakpoint-up(md) {
    height: calc(100vh - 24px * 2);
    border-radius: 1rem;

    &-aside {
      display: block;
      border-right: 1px solid $gray;
    }

    &-main {
      display: block;
    }
  }
}

.col-12 {
  padding: 0;
  height: 100%;
}

.greet-section {
  height: 100%;

  & > p {
    margin-bottom: 0;
  }

  &-avatar {
    @include avatar-image(200px, 200px, 100px);
    margin-bottom: 1.125rem;
  }

  &-greet {
    color: $gray-800;
    font-weight: 700;
  }

  &-text {
    font-size: 0.8rem;
    color: $gray-600;
  }
}
