doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/styles.min.css")
  body.p-md-4
    .chat.container-xxl.overflow-hidden
      .row
        .col.col-4
          header.header
          aside.px-4.py-5
            .contacts
            .chats-list
            .profile
        .col.col-8
          .greet-section

