.chats {

  &-list {
    padding: 3rem 0;
  }

  &-list-item {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(md) {
    &-title {
      margin-bottom: 0.625rem;
    }

    &-list {
      padding: 2.25rem 0 3rem;
    }
  }
}

.chat-card {
  height: 93px;
  padding: 1rem 2.5rem 1rem 1rem;
  cursor: pointer;

  &-info {
    overflow: hidden;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: repeat(2, 1fr);

    & > p {
      margin: 0;
    }
  }

  &-message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  &-time {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: end;
    color: $gray-600;
    font-size: 0.875rem;
  }
}
