@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import '../variables';
@import '../mixins';

.contacts {

  &-list {
    margin-bottom: 0;

    &-char {
      color: $gray-600;
    }
  }
}

.contact {
  margin-bottom: 0.8rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $blue;

    & .contact-name {
      color: $gray-100;
    }

    & .contact-status {
      color: $gray;
    }
  }

  &-info {

    & > p {
      margin-bottom: 0;
    }

  }
}
