.dialog {
  height: 100%;

  &-header {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    height: 94px;

    &-info {
      &>p {
        margin-bottom: 0;
      }
    }

    &-title {
      font-weight: 700;
      color: $gray-900;
    }
  }

  &-main {
    @include hide-scrollbar();
    height: calc(100% - 94px - 72px);
    padding: 3rem;
  }

  &-footer {
    height: 72px;
  }

  @include media-breakpoint-up(md) {
    .chat-aside-main & {
      display: none;
    }

    &-main {
      padding: 3rem 1.5rem 3rem 3rem;
      height: calc(100% - 94px - 90px);
    }

    &-footer {
      padding-left: 3rem;
      padding-right: 1.5rem;
      height: 90px;
    }
  }
}

.message {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  &-img {
    display: none;
    align-self: flex-end;
  }

  &-body {

    &-header {
      font-size: 1rem;
      font-weight: 700;
      color: $gray-900;
      margin-bottom: 4px;
    }

    &-text {
      margin-bottom: 6px;
      padding-bottom: 6px;
    }

    &-time {
      font-size: 0.8rem;
      opacity: 0.6;
    }
  }

  &.message-alien {
    .message-body {
      background-color: $gray-100;

      &-text {
        color: $gray-600;
      }

      &-time {
        color: $gray-600;
      }
    }

  }

  &.message-user {

    .message-body {
      background-color: $blue;

      &-text {
        color: $gray-100;
      }

      &-time {
        color: $white;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &-img {
      display: block;
    }

    &.message-user {
      margin-left: 13rem;
    }

    &-body {

      &-time {
        font-size: 0.875rem;
      }
    }
  }
}

.send-message-form {
  position: relative;

  &-input {
    padding: 1.3rem 4rem 1.3rem 2rem;
    color: $gray-600;
    background-color: $white;
    box-shadow: none;
  }

  &-btn {
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $blue;
    position: absolute;
    right: 19px;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      opacity: 0.8;
    }

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/cursor.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include media-breakpoint-up(md) {
    &-input {
      padding: 2rem 5rem 2rem 1.5rem;
    }

    &-btn {
      width: 50px;
      height: 50px;
    }
  }
}
