.nav {
  background-color: $blue;
  column-gap: 2.5rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;

  &-item:first-child {
    margin-right: auto;
  }

  .logo {
    @include avatar-image(15px, 25px, 0);
  }

  .nav-pills &-link {
    color: $gray-100;
    font-size: 0.875rem;
    border-radius: 0;
    padding: 0;

    &.active {
      background-color: transparent;
      color: $gray-500;
    }

    &>img {
      @include avatar-image(22px, 22px, 0);
    }

    &>p {
      margin-bottom: 0;
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    column-gap: 1.8rem;
    padding: 1rem 2rem 1rem 1rem;

    .logo {
      @include avatar-image(20px, 40px, 0);
    }

    .nav-pills &-link {

      & > img {
        margin-right: 5px;
        @include avatar-image(20px, 22px, 0);
      }

      & > p {
        display: inline-block;
      }
    }
  }
}
