.profile {
  @include media-breakpoint-up(md) {
    &-title {
      margin-bottom: 0.625rem;
    }
  }
}
.profile-card {
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 1rem;
  margin-top: 4rem;

  &-avatar {
    @include avatar-image(90px, 90px, 50%);
    margin-bottom: 1rem;
  }

  &-body {
    padding: 0;
  }

  &-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &-text {
    color: $color-black-half-opacity;
  }

  @include media-breakpoint-up(md) {
    margin-top: 2.125rem;
    padding: 2.5rem 1rem;

    &-avatar {
      margin-bottom: 1.125rem;
    }

    &-title {
      margin-bottom: 1.125rem;
    }
  }
}

.profile-list {

  &-item {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    font-size: 0.875rem;

    &-header {
      margin: 0;
      color: $color-black-half-opacity;
    }

    &-footer {
      margin: 0;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 1.5rem;

    &-item {
      margin-bottom: 0.5rem;
    }
  }
}
