section#chats.tab-pane.chats.px-4.py-5(role="tabpanel" aria-labelledby="pills-chats-tab")
  h2.title-1.chats-title Чаты
  form(action="#")
    input.form-control.search-input.bg-white(type="text", placeholder="Поиск по сообщениям")
  ul.list-unstyled.chats-list.py-5
    li.chats-list-item
      a.chat-card.text-decoration-none.shadow-sm.d-flex.align-items-center.column-gap-4
        img.chat-card-avatar.avatar-sm(src='images/avatar_4.jpg')
        .chat-card-info
          p.chat-card-name.title-2 Вениамин Редакторович
          p.chat-card-message.title-3 o_O
          span.chat-card-time 11:45
    li.chats-list-item
      a.chat-card.text-decoration-none.shadow-sm.d-flex.align-items-center.column-gap-4
        img.chat-card-avatar.avatar-sm(src='images/avatar_2.jpg')
        .chat-card-info
          p.chat-card-name.title-2 Джедай Падаванов
          p.chat-card-message.title-3 Привет, скоро третий проект? Уже скоро надо будет выложить
          span.chat-card-time 10:12
    li.chats-list-item
      a.chat-card.text-decoration-none.shadow-sm.d-flex.align-items-center.column-gap-4
        img.chat-card-avatar.avatar-sm(src='images/avatar_3.jpg')
        .chat-card-info
          p.chat-card-name.title-2 Алексей Примадонин
          p.chat-card-message.title-3 Тесты упали >_<
          span.chat-card-time 08:53
