section#current-chat.tab-pane.dialog.pe-md-4.overflow-hidden(role="tabpanel" aria-labelledby="pills-current-chat-tab")
  .dialog-header.border-bottom.px-3.py-4
    img.avatar-sm.dialog-header-img(src='images/avatar_4.jpg')
    .dialog-header-info
      p.dialog-header-title Вениамин Редакторович
      p.dialog-header-text.title-3 Онлайн
  .dialog-main.overflow-scroll
    .message.message-alien
      img.message-img.avatar-sm(src='images/avatar_4.jpg')
      .message-body.shadow-sm.radius
        h3.message-body-header Вениамин Редакторович
        p.message-body-text.border-bottom Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
        p.message-body-time 8 минут назад
    .message.message-user
      img.message-img.avatar-sm(src='images/avatar_1.jpg')
      .message-body.shadow-sm.radius
        p.message-body-text.border-bottom Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
        p.message-body-time 8 минут назад
    .message.message-alien
      img.message-img.avatar-sm(src='images/avatar_4.jpg')
      .message-body.shadow-sm.radius
        h3.message-body-header Вениамин Редакторович
        p.message-body-text.border-bottom Лады
        p.message-body-time 5 минут назад
    .message.message-user
      img.message-img.avatar-sm(src='images/avatar_1.jpg')
      .message-body.shadow-sm.radius
        p.message-body-text.border-bottom А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
        p.message-body-time 3 минуты назад
    .message.message-alien
      img.message-img.avatar-sm(src='images/avatar_4.jpg')
      .message-body.shadow-sm.radius
        h3.message-body-header Вениамин Редакторович
        p.message-body-text.border-bottom о_О
        p.message-body-time Только что
  .dialog-footer
    form.send-message-form.border-top(action="#")
      input.send-message-form-input.form-control(type="text" placeholder='Напишите сообщение...')
      button.send-message-form-btn(type='submit')
