nav.chat-aside-nav
  ul#pills-tab.nav.nav-pills.p-4.p-md-3.radius-left-top-md(role="tablist")
    li.nav-item
      img.logo(src='images/icons/logo.svg')
    li.nav-item(role="presentation")
      a#pills-contacts-tab.nav-link(href='#contacts' data-bs-toggle="pill", data-bs-target="#contacts", type="button", role="tab", aria-controls="pills-contacts", aria-selected="false")
        img(src='images/icons/people.svg')
        p Контакты
    li.nav-item(role="presentation")
      a#pills-chats-tab.nav-link(href='#chats' data-bs-toggle="pill" data-bs-target="#chats" type="button" role="tab" aria-controls="pills-chats" aria-selected="false")
        img(src='images/icons/chat.svg')
        p Сообщения
    li.nav-item(role="presentation")
      a#pills-profile-tab.nav-link(href='#profile' data-bs-toggle="pill" data-bs-target="#profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false")
        img(src='images/icons/person.svg')
        p Профиль








