section#profile.tab-pane.profile.px-4.py-5(role="tabpanel" aria-labelledby="pills-profile-tab")
  h2.title-1.profile-title Профиль
  form(action="#")
    input.form-control.search-input.bg-white(type="text", placeholder="Поиск по сообщениям")
  .card.profile-card.mt-md-5.bg-white.text-center.align-items-center
    img.card-img-top.profile-card-avatar.mb-md-2.mb-3(src='images/avatar_1.jpg')
    .card-body.profile-card-body
      h5.card-title.profile-card-title.title-2.mb-md-4.mb-3 Кодовёнок Хекслетович
      p.card-text.profile-card-text Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
  ul.list-group.profile-list.mt-5
    li.list-group-item.profile-list-item.border-bottom
      .profile-list-info
        p.profile-list-info-header Страна
        p.profile-list-info-footer Москва, Россия
      img.profile-list-icon(src='images/icons/globe.svg')
    li.list-group-item.profile-list-item.border-bottom
      .profile-list-info
        p.profile-list-info-header Телефон
        p.profile-list-info-footer +7 (499) 123-45-67
      img.profile-list-icon(src='images/icons/phone.svg')
    li.list-group-item.profile-list-item.border-bottom
      .profile-list-info
        p.profile-list-info-header Email
        p.profile-list-info-footer nikita.m@hexlet.io
      img.profile-list-icon(src='images/icons/envelope.svg')
    li.list-group-item.profile-list-item.border-bottom
      .profile-list-info
        p.profile-list-info-header Twitter
        p.profile-list-info-footer @n_mikhaylov
      img.profile-list-icon(src='../../images/icons/people-profile.svg')
